<footer>
    <ul>
        <li>
            <p> Multiply Software Limited (R)</p>
        </li>
        <li>
            <p> Tel: {{ _('email.multiply.phone_number') }}</p>
        </li>
    </ul>
</footer>
