<!DOCTYPE html>
<HTML lang="en">

<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		* {
			box-sizing: border-box;
		}
	</style>
</head>

<body style="margin: 0; background-color: #f2f4f5; padding: 0;">
    <H1>Hello {{ first_name }}</H1>
    <p>Welcome to the app. Lovely to have you</p>
</body>
{% include 'includes/multiply_footer.html.j2' %}
</HTML>
